{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} | {% endblock %}

{% block body %}
    <h1>Modification | {{ project.name }}</h1>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_projects_index') }}">Retour à la liste</a>
        {{ include('projects/_delete_form.html.twig') }}
    </div>

    {{ include('projects/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
