{% extends 'base.html.twig' %}

{% block title %}Tableau de bord | {% endblock %}

{% block body %}
    <h1>Tableau de bord</h1>

    <div class="row">
        <div class="col">
            <div class="bloc">
                <h5>Projets en cours</h5>
                <div>
                    <ul>
                        {% for project in projects %}
                            <li>
                                <a href="{{ path('app_projects_show', {id: project.id}) }}">{{ project.name }}</a>, débuté le {{ project.startedAt|date("d/m/Y") }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="bloc">
                <h5>Projets selon leur statut</h5>
                <div>
                    <ul>
                        {% for elmt in countProjects %}
                            <li>
                                {{ elmt[0] }} : {{ elmt[1] }} projets
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="bloc">
                <h5>Projets en cours (équipe)</h5>
                <div>
                    <ul>
                        {% for project in teamProjects %}
                            <li>
                                <a href="{{ path('app_projects_show', {id: project.id}) }}">{{ project.name }}</a>, débuté le {{ project.startedAt|date("d/m/Y") }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="bloc">
                <h5>Projets selon leur statut (équipe)</h5>
                <div>
                    <ul>
                        {% for elmt in countTeamProjects %}
                            <li>
                                {{ elmt[0] }} : {{ elmt[1] }} projets
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
