{% extends 'base.html.twig' %}

{% block title %}{{ highlight.name }} | {% endblock %}

{% block body %}
    <h1>Modification | {{ highlight.name }}</h1>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_highlights_index') }}">Retour à la liste</a>
        {{ include('highlights/_delete_form.html.twig') }}
    </div>

    {{ include('highlights/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
