{% extends 'base.html.twig' %}

{% block title %}{{ portfolio.name }} | {% endblock %}

{% block body %}
    <h1>Modification | {{ portfolio.name }}</h1>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_portfolios_index') }}">Retour à la liste</a>
        {{ include('portfolios/_delete_form.html.twig') }}
    </div>

    {{ include('portfolios/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
