{% extends 'base.html.twig' %}

{% block title %}{{ risk.name }} | {% endblock %}

{% block body %}
    <h1>Modification | {{ risk.name }}</h1>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_risks_index') }}">Retour à la liste</a>
        {{ include('risks/_delete_form.html.twig') }}
    </div>

    {{ include('risks/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
