{% extends 'base.html.twig' %}

{% block title %}Budgets index{% endblock %}

{% block body %}
    <h1>Budgets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>InitialValue</th>
                <th>ConsumedValue</th>
                <th>StillToDo</th>
                <th>Landing</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr>
                <td>{{ budget.id }}</td>
                <td>{{ budget.initialValue }}</td>
                <td>{{ budget.consumedValue }}</td>
                <td>{{ budget.stillToDo }}</td>
                <td>{{ budget.landing }}</td>
                <td>
                    <a href="{{ path('app_budgets_show', {'id': budget.id}) }}">show</a>
                    <a href="{{ path('app_budgets_edit', {'id': budget.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_budgets_new') }}">Create new</a>
{% endblock %}
