<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}Phénix</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="{{ path('app_home') }}" class="navbar-brand">Phénix</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    {% if app.user %}
                        <div class="navbar-nav">
                            <li class="nav-items">
                                <a href="{{ path('app_home') }}" class="nav-item nav-link {% if (app.request.pathInfo == path('app_home')) %} active{% endif %}">Tableau de bord</a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-items">
                                    <a href="{{ path('app_projects_index') }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "projects") %}active{% endif %}">Projets</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_users_index') }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "users") %}active{% endif %}">Collaborateurs</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_teams_index', {'page': 1}) }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "teams") %}active{% endif %}">Equipes</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_status_index', {'page': 1}) }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "status") %}active{% endif %}">Statuts</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_phases_index', {'page': 1}) }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "phases") %}active{% endif %}">Phases</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_bearings_index', {'page': 1}) }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "bearings") %}active{% endif %}">Jalons</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_highlights_index', {'page': 1}) }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "highlights") %}active{% endif %}">Faits</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_portfolios_index', {'page': 1}) }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "portfolios") %}active{% endif %}">Portfolios</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_severities_index', {'page': 1}) }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "severities") %}active{% endif %}">Sévérités</a>
                                </li>
                                <li class="nav-items">
                                    <a href="{{ path('app_risks_index', {'page': 1}) }}" class="nav-item nav-link {% if (app.request.pathInfo | split("/")[1] == "risks") %}active{% endif %}">Risques</a>
                                </li>
                            {% endif %}
                            
                        </div>
                    {% endif %}
                    <div class="navbar-nav ms-auto">
                        {% if not app.user %}
                            <li class="nav-items">
                                <a href="{{ path('app_register') }}" class="nav-item nav-link active">Inscription</a>
                            </li>
                        {% endif %}
                        <li class="nav-items">
                            <a href="{% if app.user %}{{ path('app_logout') }}{% else %}{{ path('app_logout') }}{% endif %}" class="nav-item nav-link active">
                                {% if app.user %}
                                    Déconnexion
                                {% else %}
                                    Connexion
                                {% endif %}
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
        
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
