{% extends 'base.html.twig' %}

{% block title %}{{ user.lastName|upper }} {{ user.firstName }} | {% endblock %}

{% block body %}
    <h1>Modification | {{ user.lastName|upper }} {{ user.firstName }}</h1>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_users_index') }}">Retour à la liste</a>
        {{ include('users/_delete_form.html.twig') }}
    </div>

    {{ include('users/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
